{% extends "global/base.html" %}

{% block content %}
   
   
    <form action="{% url "cadastrar_tag" %}" method="POST">
        {% csrf_token %}

        {% for field in form %}
            <div class="form_content">
                <div class="form-group">
                    <label for="{{field.id_for_label}}">{{field.label}}</label>
                    {{field}}
                    {{field.errors}}
                </div>
            </div>
        {% endfor %}
        
        <div class="form-content">
            <div class="form-group">
                <button type="submit" class="btn">
                    Cadastrar
                </button>
            </div>
        </div>
    </form>

{% endblock content %}

{% block nao_autenticado %}
    <p>Você não está logado. Por favor, faça o <a href="{% url 'login' %}">login</a> para acessar este conteúdo.</p> 
{% endblock nao_autenticado %}