{% extends "global/base.html" %}

{% block content %}
    <div>
        <div>
            <h1>Estatísticas em Tempo Real</h1>
            <h2>Número Total de Pessoas no Hospital: {{ total_pessoas }}</h2>

            <h2>Distribuição de Pessoas por Área:</h2>
            <!-- Div para renderizar o gráfico -->
            <div id="graph">{{ graph_html | safe }}</div>
            
            <!-- <h2>Distribuição por Áreas:</h2>
            <ul>
                {% for local, quantidade_pessoas in pessoas_por_local.items %}
                    <li>
                        <a href="{% url 'local_detalhes' local_localizacao=local %}">{{ local }}</a> - {{ quantidade_pessoas }}
                    </li>
                {% endfor %}
            </ul> -->
        </div>
    </div>
    
    <br><br><br>
    <div>
        <div>
            <h1>Pessoas por tipo</h1>
            <h2>Número de Pacientes: {{ total_pacientes }}</h2>
            <ul>
                {% for paciente in pacientes %}
                    <li>
                        {{paciente}} - tag: {{paciente.tag_ble}}, local: {{paciente.local_atual}}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <br>
    <div>
        <div>
            <h2>Número de Acompanhantes: {{ total_acompanhantes }}</h2>
            <ul>
                {% for acompanhante in acompanhantes %}
                    <li>
                        {{acompanhante}} - tag: {{acompanhante.tag_ble}}, local: {{acompanhante.local_atual}}, {{acompanhante.relacionamento}} de {{acompanhante.paciente_acomp}}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <br>
    <div>
        <div>
            <h2>Número de Médicos: {{ total_medicos }}</h2>
            <ul>
                {% for medico in medicos %}
                    <li>
                        {{medico}} - tag: {{medico.tag_ble}}, local: {{medico.local_atual}}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <br>
    <div>
        <div>
            <h2>Número de Enfermeiros: {{ total_enfermeiros }}</h2>
            <ul>
                {% for enfermeiro in enfermeiros %}
                    <li>
                        {{enfermeiro}} - tag: {{enfermeiro.tag_ble}}, local: {{enfermeiro.local_atual}}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    
{% endblock content %}

{% block nao_autenticado %}
    <p>Você não está logado. Por favor, faça o <a href="{% url 'login' %}">login</a> para acessar este conteúdo.</p> 
{% endblock nao_autenticado %}