{% extends "global/base.html" %}

{% block content %}
    

    <div class="container mt-5">
        <div class="row">
            <!-- Estatísticas em Tempo Real -->
            <div class="col-md-7">
            <!-- <div class="col-md-7  wow fadeInLeft"> -->
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h1 class="card-title">Estatísticas em Tempo Real</h1>
                        <h2 class="card-subtitle mb-4 text-muted">Número Total de Pessoas no Hospital: {{ total_pessoas }}</h2>
                        <!-- Div para renderizar o gráfico -->
                        <div id="graph" class="text-center">{{ graph_html | safe }}</div>
                    </div>
                </div>
            </div>
            
            <!-- Últimas Leituras -->
            <div class="col-md-5" id="ultimas-leituras">
            <!-- <div class="col-md-5  wow fadeInRight"> -->
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h1 class="card-title">Últimas Leituras</h1>
                        <ul class="list-group">
                            {% for leitura in ultimas_leituras %}
                                <li class="list-group-item">
                                    <span class="fw-bold">{{ leitura.monitorado }}</span> - {{ leitura.local }}, 
                                    {% if leitura.data_leitura|date:"Y-m-d" == data_hoje %}
                                        hoje, {{ leitura.data_leitura|date:"H:i:s" }}
                                    {% else %}
                                        {{ leitura.data_leitura|date:"d/m/Y - H:i:s" }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="text-center">
                            <a href="{% url "leituras" %}" class="link-unstyled"><button type="button" class="btn btn-primary">Ver mais</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
            <!-- <div class="col-md-12 wow fadeInUp"> -->
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Total de Pessoas no Hospital por Tipo</h1>
                        <div id="graph_bar">{{ graph_bar_html | safe }}</div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-6">
            <!-- <div class="col-md-6 wow fadeInLeft"> -->
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h1 class="card-title">Pacientes</h1>
                        <h2 class="card-subtitle mb-4 text-muted">Número de Pacientes: {{ total_pacientes }}</h2>
                        <ul class="list-group">
                            {% for leitura in ultimos_pacientes|slice:":6" %}
                                <li class="list-group-item">
                                    <span class="fw-bold">{{ leitura.monitorado }}</span> - Tag: {{ leitura.tag_ble }}, {{ leitura.local }}, 
                                    {% if leitura.data_leitura|date:"Y-m-d" == data_hoje %}
                                        hoje, {{ leitura.data_leitura|date:"H:i:s" }}
                                    {% else %}
                                        {{ leitura.data_leitura|date:"d/m/Y - H:i:s" }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="text-center list-group">
                            <a href="{% url "leituras" %}?tipo=paciente" class="link-unstyled"><button type="button" class="btn btn-primary">Ver mais</button></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
            <!-- <div class="col-md-6 wow fadeInRight"> -->
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h2 class="card-title">Acompanhantes</h2>
                        <h2 class="card-subtitle mb-4 text-muted">Número de Acompanhantes: {{ total_acompanhantes }}</h2>
                        <ul class="list-group">
                            {% for leitura in ultimos_acompanhantes|slice:":6" %}
                                <li class="list-group-item">
                                    <span class="fw-bold">{{ leitura.monitorado }}</span> - Tag: {{ leitura.tag_ble }}, {{ leitura.local }}, 
                                    {% if leitura.data_leitura|date:"Y-m-d" == data_hoje %}
                                        hoje, {{ leitura.data_leitura|date:"H:i:s" }}
                                    {% else %}
                                        {{ leitura.data_leitura|date:"d/m/Y - H:i:s" }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="text-center list-group">
                            <a href="{% url "leituras" %}?tipo=acompanhante" class="link-unstyled"><button type="button" class="btn btn-primary">Ver mais</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
            <!-- <div class="col-md-6 wow fadeInLeft"> -->
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h1 class="card-title">Médicos</h1>
                        <h2 class="card-subtitle mb-4 text-muted">Número de Médicos: {{ total_medicos }}</h2>
                        <ul class="list-group">
                            {% for leitura in ultimos_medicos|slice:":6" %}
                                <li class="list-group-item">
                                    <span class="fw-bold">{{ leitura.monitorado }}</span> - Tag: {{ leitura.tag_ble }}, {{ leitura.local }}, 
                                    {% if leitura.data_leitura|date:"Y-m-d" == data_hoje %}
                                        hoje, {{ leitura.data_leitura|date:"H:i:s" }}
                                    {% else %}
                                        {{ leitura.data_leitura|date:"d/m/Y - H:i:s" }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="text-center list-group">
                            <a href="{% url "leituras" %}?tipo=medico" class="link-unstyled"><button type="button" class="btn btn-primary">Ver mais</button></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
            <!-- <div class="col-md-6 wow fadeInRight"> -->
                <div class="card mb-4 shadow-sm ">
                    <div class="card-body">
                        <h1 class="card-title">Enfermeiros</h1>
                        <h2 class="card-subtitle mb-4 text-muted">Número de Enfermeiros: {{ total_enfermeiros }}</h2>
                        <ul class="list-group">
                            {% for leitura in ultimos_enfermeiros|slice:":6" %}
                                <li class="list-group-item">
                                    <span class="fw-bold">{{ leitura.monitorado }}</span> - Tag: {{ leitura.tag_ble }}, {{ leitura.local }}, 
                                    {% if leitura.data_leitura|date:"Y-m-d" == data_hoje %}
                                        hoje, {{ leitura.data_leitura|date:"H:i:s" }}
                                    {% else %}
                                        {{ leitura.data_leitura|date:"d/m/Y - H:i:s" }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="text-center list-group">
                            <a href="{% url "leituras" %}?tipo=enfermeiro" class="link-unstyled"><button type="button" class="btn btn-primary">Ver mais</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- #TODO trocar a recarga braçal por web socket -->
    <script> 
           // Função para atualizar dinamicamente a div a cada 10 segundos
        function updateDivContent() {
            // Fazer uma solicitação AJAX para obter o conteúdo atualizado da div do servidor
            $.ajax({
                url: '/ultimas_leituras', // Endpoint do servidor para obter o conteúdo atualizado
                type: 'GET',
                success: function(response) {
                    // Atualizar dinamicamente a div com o novo conteúdo recebido do servidor
                    $('#ultimas-leituras').html(response);
                },
                error: function(xhr, status, error) {
                    console.error('Erro ao obter conteúdo dinâmico:', error);
                }
            });
        }

        // Chamar a função de atualização da div a cada 10 segundos
        setInterval(updateDivContent, 5000); // 10 segundos em milissegundos
    </script>

    
{% endblock content %}