{% extends "global/base.html" %}

{% block content %}

    <div class="container mt-5 filtro-leitura">
        <h1 class="text-center">Lista de Leituras de Tags</h1>
        
        <form method="GET" class="mb-4">
            <div class="row">
                <div class="col-md-3 mb-3">
                    {% comment %} <label for="monitorado" class="form-label">Filtrar por Pessoa:</label>
                    <select name="monitorado" id="monitorado" class="form-select">
                        <option value="">Todas as Pessoas</option>
                        <!-- Aqui você pode iterar sobre as pessoas disponíveis -->
                        {% for monitorado in monitorados %}
                            <option value="{{ monitorado.id }}">{{ monitorado }}</option>
                        {% endfor %}
                    </select> {% endcomment %}
                    <label for="filtro-pessoa">Filtrar por Pessoa:</label>
                    <input type="text" id="filtro-pessoa" name="filtro-pessoa" value="{% if filtro_pessoa %}{{filtro_pessoa}}{% endif %}" class="form-control" placeholder="Digite o nome da pessoa">
                    
                    <label>Tipo de Filtro:</label>
                    <input type="radio" id="filtro-cpf" name="filtro-tipo" value="cpf" {% if filtro_tipo == 'cpf' %}checked{% endif %}>
                    <label for="filtro-cpf">CPF</label>
                    
                    <input type="radio" id="filtro-id" name="filtro-tipo" value="id" {% if filtro_tipo == 'id' %}checked{% endif %}>
                    <label for="filtro-id">ID</label>
                    
                    <input type="radio" id="filtro-nome" name="filtro-tipo" value="nome" {% if filtro_tipo == 'nome' %}checked{% endif %}>
                    <label for="filtro-nome">Nome</label>



                </div>
                <div class="col-md-3 mb-3">
                    <label for="local" class="form-label">Filtrar por Local:</label>
                    <select name="local" id="local" class="form-select">
                        <option value="">Todos os Locais</option>
                        <!-- Aqui você pode iterar sobre os locais disponíveis -->
                        {% for local in locais %}
                            <option value="{{ local.id }}">{{ local.localizacao }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="data" class="form-label">Filtrar por Data:</label>
                    <input type="date" name="data" id="data" class="form-control">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="tipo" class="form-label">Filtrar por Tipo:</label>
                    <select name="tipo" id="tipo" class="form-select">
                        <option value="">Todos os Tipos</option>
                        <option value="paciente">Paciente</option>
                        <option value="medico">Médico</option>
                        <option value="acompanhante">Acompanhante</option>
                        <option value="enfermeiro">Enfermeiros</option>
                    </select>
                </div>
        
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-lg btn-primary custom-button">Filtrar</button>
                </div>
            </div>
        </form>
    </div>
    
    <h2 class="text-center">
        {% if request.GET.tipo %}
            {% if request.GET.tipo == 'paciente' %}
                Pacientes
            {% elif request.GET.tipo == 'acompanhante' %}
                Acompanhantes
            {% elif request.GET.tipo == 'medico' %}
                Médicos
            {% elif request.GET.tipo == 'enfermeiro' %}
                Enfermeiros
            {% endif %}

            
        {% endif %}
    </h2>

    <table class="table table-hover custom-table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID Leitura</th>
                <th scope="col">Tag BLE</th>
                <th scope="col">Monitorado</th>
                <th scope="col">Tipo</th>
                <th scope="col">Raspberry</th>
                <th scope="col">Local</th>
                <th scope="col">Data da Leitura</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterar sobre as leituras e exibir -->
            {% for leitura in leituras %}
            <tr>
                <td>{{ leitura.id }}</td>
                <td>{{ leitura.tag_ble }}</td>
                <td>{{ leitura.monitorado }}</td>
                <td>{{ leitura.monitorado.tipo }}</td>
                <td>{{ leitura.raspberry }}</td>
                <td>{{ leitura.local }}</td>
                <td>{{ leitura.data_leitura }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div>
        <nav aria-label="...">
            <ul class="pagination d-flex justify-content-center">
                {% if leituras.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1{% if filtro_pessoa %}&filtro-pessoa={{ filtro_pessoa }}{% endif %}{% if monitorado_id %}&monitorado={{ monitorado_id }}{% endif %}{% if local_id %}&local={{ local_id }}{% endif %}{% if data %}&data={{ data }}{% endif %}{% if tipo %}&tipo={{ tipo }}{% endif %}"">&laquo; Primeira</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ leituras.previous_page_number }}{% if filtro_pessoa %}&filtro-pessoa={{ filtro_pessoa }}{% endif %}{% if monitorado_id %}&monitorado={{ monitorado_id }}{% endif %}{% if local_id %}&local={{ local_id }}{% endif %}{% if data %}&data={{ data }}{% endif %}{% if tipo %}&tipo={{ tipo }}{% endif %}">Anterior</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">&laquo; Primeira</span>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link">Anterior</span>
                    </li>
                {% endif %}
        
                <li class="page-item active">
                    <span class="page-link">Página {{ leituras.number }} de {{ leituras.paginator.num_pages }}</span>
                </li>
        
                {% if leituras.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ leituras.next_page_number }}{% if filtro_pessoa %}&filtro-pessoa={{ filtro_pessoa }}{% endif %}{% if monitorado_id %}&monitorado={{ monitorado_id }}{% endif %}{% if local_id %}&local={{ local_id }}{% endif %}{% if data %}&data={{ data }}{% endif %}{% if tipo %}&tipo={{ tipo }}{% endif %}">Próxima</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ leituras.paginator.num_pages }}{% if filtro_pessoa %}&filtro-pessoa={{ filtro_pessoa }}{% endif %}{% if monitorado_id %}&monitorado={{ monitorado_id }}{% endif %}{% if local_id %}&local={{ local_id }}{% endif %}{% if data %}&data={{ data }}{% endif %}{% if tipo %}&tipo={{ tipo }}{% endif %}"">Última &raquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Próxima</span>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link">Última &raquo;</span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock content %}

