{% extends "global/base.html" %}

{% block content %}
    <!-- Este bloco representa o conteúdo específico desta página -->

    <div class="container mt-5">
        <h1> Lista de tags</h1>
        <!-- Formulário de seleção para escolher entre todas as tags ou apenas aquelas com monitorado vinculado -->
        <form method="get" id="filtroForm" action="" class="mb-4">
            <div class="form-check form-check-inline">
                <input type="radio" id="todas" name="filtro" value="todas" {% if filtro == 'todas' %}checked{% endif %} class="form-check-input">
                <label for="todas" class="form-check-label">Todas</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" id="vinculadas" name="filtro" value="vinculadas" {% if filtro == 'vinculadas' %}checked{% endif %} class="form-check-input">
                <label for="vinculadas" class="form-check-label">Vinculadas</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" id="disponiveis" name="filtro" value="disponiveis" {% if filtro == 'disponiveis' %}checked{% endif %} class="form-check-input">
                <label for="disponiveis" class="form-check-label">Disponíveis</label>
            </div>

        </form>

        
            <table table class="table table-hover custom-table">

                <!-- Cabeçalho da tabela -->
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">UUID</th>
                        <th scope="col">Status</th>
                        <th scope="col">Monitorado</th>
                    </tr>
                </thead>

                <!-- Corpo da tabela -->
                <tbody>
                    <!-- Loop sobre cada tag para exibir na tabela -->
                    {% for tag in tags %}
                        <tr>
                            <!-- Coluna de ID -->
                            <td>{{ tag.id }}</td>
                            <!-- Coluna de UUID -->
                            <td>{{ tag.uuid_tag }}</td>
                            <!-- Coluna de status -->
                            <td>{{ tag.status }}</td>
                            <!-- Coluna de monitorado -->
                            <td>{{ tag.monitorado }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Selecionar todos os radio buttons dentro do formulário
            const radioButtons = document.querySelectorAll('#filtroForm input[type="radio"]');

            // Adicionar um listener de evento de mudança a cada radio button
            radioButtons.forEach(function(radioButton) {
                radioButton.addEventListener('change', function() {
                    // Submeter automaticamente o formulário ao selecionar um radio button
                    document.getElementById('filtroForm').submit();
                });
            });
        });
    </script>
    {% if tags.paginator.num_pages > 1 %}
        <div>
            <nav aria-label="...">
                <ul class="pagination d-flex justify-content-center">
                    {% if tags.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1{% if filtro %}&filtro={{ filtro }}{% endif %}"">&laquo; Primeira</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ tags.previous_page_number }}{% if filtro %}&filtro={{ filtro }}{% endif %}">Anterior</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">&laquo; Primeira</span>
                        </li>
                        <li class="page-item disabled">
                            <span class="page-link">Anterior</span>
                        </li>
                    {% endif %}
            
                    <li class="page-item active">
                        <span class="page-link">Página {{ tags.number }} de {{ tags.paginator.num_pages }}</span>
                    </li>
            
                    {% if tags.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ tags.next_page_number }}{% if filtro %}&filtro={{ filtro }}{% endif %}">Próxima</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ tags.paginator.num_pages }}{% if filtro %}&filtro={{ filtro }}{% endif %}"">Última &raquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Próxima</span>
                        </li>
                        <li class="page-item disabled">
                            <span class="page-link">Última &raquo;</span>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
</div>

 
{% endblock content %}
