{% extends "global/base.html" %}

{% block content %}
    <!-- Este bloco representa o conteúdo específico desta página -->

    <div class="container mt-5">
        <!-- Formulário de seleção para escolher entre todas as tags ou apenas aquelas com monitorado vinculado -->
        <form method="get" action="{% url 'tags' %}" class="mb-4">
            <div class="form-check form-check-inline">
                <input type="radio" id="todas" name="filtro" value="todas" {% if filtro == 'todas' %}checked{% endif %} class="form-check-input">
                <label for="todas" class="form-check-label">Todas</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" id="vinculadas" name="filtro" value="vinculadas" {% if filtro == 'vinculadas' %}checked{% endif %} class="form-check-input">
                <label for="vinculadas" class="form-check-label">Vinculadas</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" id="disponiveis" name="filtro" value="disponiveis" {% if filtro == 'disponiveis' %}checked{% endif %} class="form-check-input">
                <label for="disponiveis" class="form-check-label">Disponíveis</label>
            </div>
            <button class="btn btn-primary" type="submit">Filtrar</button>
            <a class="btn btn-success" href="{% url 'cadastrar_tag' %}">Adicionar nova TAG</a>
        </form>

        
            <table table class="table table-hover custom-table">
                <!-- Título da tabela -->
                <caption class="table-caption">Tags</caption>

                <!-- Cabeçalho da tabela -->
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">UUID</th>
                        <th scope="col">Status</th>
                        <th scope="col">Monitorado</th>
                    </tr>
                </thead>

                <!-- Corpo da tabela -->
                <tbody>
                    <!-- Loop sobre cada tag para exibir na tabela -->
                    {% for tag in page_obj %}
                        <tr>
                            <!-- Coluna de ID -->
                            <td>{{ tag.id }}</td>
                            <!-- Coluna de UUID -->
                            <td>{{ tag.uuid_tag }}</td>
                            <!-- Coluna de status -->
                            <td>{{ tag.status }}</td>
                            <!-- Coluna de monitorado -->
                            <td>{{ tag.monitorado }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        
    </div>

    {% include "global/partials/_pagination.html" %}
{% endblock content %}
