
                <ul class="list-group">
                    {% for leitura in ultimas_leituras %}
                        <li class="list-group-item">
                            <span class="fw-bold">{{ leitura.monitorado }}</span> - {{ leitura.local }}, 
                            {% if leitura.data_leitura|date:"Y-m-d" == data_hoje %}
                                hoje, {{ leitura.data_leitura|date:"H:i:s" }}
                            {% else %}
                                {{ leitura.data_leitura|date:"d/m/Y - H:i:s" }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>



