{% extends "global/base.html" %}

{% block content %}

    <div class="container">
        <div class="row ">
            <div class="col-md-4 border-end">
                <h2 class="mt-4 mb-4">Vincular Tag a Pessoa</h2>
                <form method="POST">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label for="tag_id" class="form-label">ID da Tag:</label>
                        <input type="text" class="form-control" name="tag_id" id="tag_id">
                    </div>
                    
                    <div class="mb-3">
                        <label for="pessoa_id" class="form-label">ID da Pessoa:</label>
                        <input type="text" class="form-control" name="pessoa_id" id="pessoa_id">
                    </div>
                    
                    <button type="submit" class="btn custom-button">Vincular</button>
                </form>

                
            </div>
            <div class="col-md-8">
                <form method="GET">
                    <!-- Input para pesquisa por nome ou CPF -->
                    <div class="mb-3">
                        <h2 class="mt-4 mb-4">Buscar pessoa por nome ou CPF</h2>
                        <label for="search" class="form-label">Busca:</label>
                        <input type="text" class="form-control" name="search" id="search">
                    </div>
                    <!-- Botão de envio para busca -->
                    <button type="submit" class="btn custom-button">Buscar</button>
                </form>
                <h2>Resultados da busca</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Tag BLE</th>
                        
                            <!-- Adicione mais colunas conforme necessário -->
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Iterar sobre os resultados da busca -->
                        {% if page_obj %}
                            {% for resultado in page_obj %}
                            <tr>
                                <td>{{ resultado.id }}</td>
                                <td>{{ resultado.nome }}</td>
                                <td>{{ resultado.cpf }}</td>
                                {% if resultado.tag_ble %}
                                    <td>{{ resultado.tag_ble }}</td>
                                {% else %}
                                    <td>Sem tag vinculada</td>
                                {% endif %}
                                <!-- Adicione mais colunas conforme necessário -->
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr> <td> Nenhum resultado </td></tr>
                        {% endif %}
                    </tbody>
                </table>
                {% include "global/partials/_pagination.html" %}
            </div>
        </div>
    </div>
    

{% endblock content %}
