{% extends "global/base.html" %}

{% block content %}

    <div class="container">
        <div class="row ">
            <div class="col-md-4 border-end">
                <h2 class="mt-4 mb-4">Vincular Tag a Pessoa</h2>
                <form method="POST">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label for="tag_id" class="form-label">ID da Tag:</label>
                        <input type="text" class="form-control" name="tag_id" id="tag_id">
                    </div>
                    
                    <div class="mb-3">
                        <label for="pessoa_id" class="form-label">ID da Pessoa:</label>
                        <input type="text" class="form-control" name="pessoa_id" id="pessoa_id">
                    </div>
                    
                    <button type="submit" class="btn custom-button">Vincular</button>
                </form>
                <hr>
                <h2 class="mt-4 mb-4">Tags disponíveis</h2>
                <table class="table custom-table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if tags %}
                            {% for tag in tags %}
                            <tr class="table-row"> <!-- Adicione a classe 'table-row' à linha da tabela -->
                                <td class="tag-id">{{ tag.id }}</td> 
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr> 
                                <td> Sem tags disponíveis </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>

                
            </div>
            <div class="col-md-8">
                <form method="GET">
                    <!-- Input para pesquisa por nome ou CPF -->
                    <div class="mb-3">
                        <h2 class="mt-4 mb-4">Buscar pessoa por nome ou CPF</h2>
                        <label for="busca" class="form-label">Busca:</label>
                        <input type="text" class="form-control" name="busca" id="busca">
                    </div>
                    <!-- Botão de envio para busca -->
                    <button type="submit" class="btn custom-button">Buscar</button>
                </form>
                <h2>Resultados da busca</h2>
                <table class="table custom-table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Tag BLE</th>
                        
                            <!-- Adicione mais colunas conforme necessário -->
                        </tr>
                    </thead>
                    <tbody>
                        {% if resultado %}
                            {% for item in resultado %}
                            <tr class="table-row"> <!-- Adicione a classe 'table-row' à linha da tabela -->
                                <td class="pessoa-id">{{ item.id }}</td> <!-- Adicione a classe 'pessoa-id' à célula do ID da pessoa -->
                                <td>{{ item.nome }}</td>
                                <td>{{ item.cpf }}</td>
                                {% if item.tag_ble %}
                                    <td>{{ item.tag_ble }}</td>
                                {% else %}
                                    <td>Sem tag vinculada</td>
                                {% endif %}
                                <!-- Adicione mais colunas conforme necessário -->
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr> 
                                <td> Nenhum resultado </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>

                {% if resultado.paginator.num_pages > 1 %}
                <div>
                    <nav aria-label="...">
                        <ul class="pagination d-flex justify-content-center">
                            {% if resultado.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1{% if busca %}&busca={{ busca }}{% endif %}"">&laquo; Primeira</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ resultado.previous_page_number }}{% if busca %}&busca={{ busca }}{% endif %}">Anterior</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">&laquo; Primeira</span>
                                </li>
                                <li class="page-item disabled">
                                    <span class="page-link">Anterior</span>
                                </li>
                            {% endif %}
                    
                            <li class="page-item active">
                                <span class="page-link">Página {{ resultado.number }} de {{ resultado.paginator.num_pages }}</span>
                            </li>
                    
                            {% if resultado.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ resultado.next_page_number }}{% if busca %}&busca={{ busca }}{% endif %}">Próxima</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ resultado.paginator.num_pages }}{% if busca %}&busca={{ busca }}{% endif %}"">Última &raquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">Próxima</span>
                                </li>
                                <li class="page-item disabled">
                                    <span class="page-link">Última &raquo;</span>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                {% endif %}

                
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Captura todas as linhas da tabela com a classe 'table-row'
            const rows = document.querySelectorAll('.table-row');
    
            // Adiciona um event listener para cada linha da tabela
            rows.forEach(function(row) {
                row.addEventListener('click', function() {
                    // Obtém o ID da pessoa da célula da primeira coluna da linha clicada
                    const pessoaId = row.querySelector('.pessoa-id').textContent;
                    // const tagId = row.querySelector('.tag-id').textContent;
    
                    // Preenche automaticamente o campo 'pessoa_id' no formulário com o ID da pessoa
                    document.getElementById('pessoa_id').value = pessoaId;
                    // document.getElementById('tag_id').value = tagId;
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            // Captura todas as linhas da tabela com a classe 'table-row'
            const rows = document.querySelectorAll('.table-row');
    
            // Adiciona um event listener para cada linha da tabela
            rows.forEach(function(row) {
                row.addEventListener('click', function() {
                    // Obtém o ID da tag da célula da primeira coluna da linha clicada
                    const tagId = row.querySelector('.tag-id').textContent;
    
                    // Preenche automaticamente o campo 'tag_id' no formulário com o ID da tag
                    document.getElementById('tag_id').value = tagId;
                });
            });
        });
    </script>
    

{% endblock content %}
