{% load static %}<!DOCTYPE html>
<html lang="en" class="wide wow-animation">
<head>
    {% include "global/partials/_head.html" %}
</head>
<body>
    {% include "global/partials/_header.html" %}
    {% include "global/partials/_messages.html" %}
    
    <main class="content"> 
        {% block content %}
        {% endblock content %}

                <!-- Global Mailform Output-->
        <div class="snackbars" id="form-output-global"></div>
        <!-- Javascript-->
        <script src="{% static 'global/js/core.min.js' %} "></script>
        <script src="{% static 'global/js/script.js' %}"></script>
        <!-- coded by Himic-->
    </main>
    
    {% comment %} <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> {% endcomment %}
</body>
</html>