{% load static %}
{% comment %} <header class="header">
    <div>
        <nav class="navbar navbar-expand-lg navbar-color fixed-top" >
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static 'global/img/LOGO.png' %}" width="30" height="30" class="d-inline-block align-top logo-menu" alt="">
                    T-Care
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">
                                    Dashboard
                                </a>
                            </li>

                            <li class="nav-item dropdown" >
                                <a class="nav-link dropdown-toggle" href="{% url 'tags' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Tags
                                </a>
                                <ul class="dropdown-menu" style="background-color: rgb(0, 90, 80);">
                                <li><a class="dropdown-item" href="{% url 'cadastrar_tag' %}">Cadastrar tag</a></li>
                                <li><a class="dropdown-item" href="{% url 'tags' %}">Listar tags</a></li>
                                <li><a class="dropdown-item" href="{% url 'vincular_tag_pessoa' %}">Vincular pessoa</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown" >
                                    <a class="nav-link dropdown-toggle" href="{% url 'tags' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Pessoas
                                    </a>
                                    <ul class="dropdown-menu" style="background-color: rgb(0, 90, 80);">
                                    <li><a class="dropdown-item" href="{% url 'pessoa_detalhes' %}">Procurar pessoa</a></li>
                                    <li><a class="dropdown-item" href="{% url 'cadastrar_pessoa' %}">Cadastrar pessoa</a></li>
                                    <!-- <li><a class="dropdown-item" href="{% url 'cadastrar_acompanhante' %}">Cadastrar acompanhante</a></li>
                                    <li><a class="dropdown-item" href="{% url 'cadastrar_funcionario' %}">Cadastrar funcionário</a></li>
                                    <li><a class="dropdown-item" href="{% url 'cadastrar_paciente' %}">Cadastrar paciente</a></li>
                                    <li><a class="dropdown-item" href="{% url 'cadastrar_paciente' %}">Cadastrar visitante</a></li> -->
                                    <li><a class="dropdown-item" href="{% url 'localizacao' %}">Localização</a></li>
                                    </ul>
                            </li>

                            <li class="nav-item dropdown" >
                                <a class="nav-link dropdown-toggle" href="{% url 'tags' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Objetos
                                </a>
                                <ul class="dropdown-menu" style="background-color: rgb(0, 90, 80);">
                                <li><a class="dropdown-item" href="#">Cadastrar Objeto</a></li>
                                <li><a class="dropdown-item" href="#">Listar objetos</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'leituras' %}">Leituras</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'simula_leitura' %}">Simular leitura</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                            </li>
                        
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}    
                    </ul>
                    
                    
                </div>
                
                </ul>
            </div>
            
        </nav>
    </div>
</header> {% endcomment %}

<header class="section page-header">
    <!-- RD Navbar-->
    <div class="rd-navbar-wrap">
      <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
        <div class="rd-navbar-main-outer">
          <div class="rd-navbar-main">
            <!-- RD Navbar Panel-->
            <div class="rd-navbar-panel">
              <!-- RD Navbar Toggle-->
              <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
              <!-- RD Navbar Brand-->
              <div class="rd-navbar-brand"><a class="brand" href="{% url 'index' %} "><img src="{% static 'global/img/logo-default-223x50.png' %} " alt="" width="223" height="50"/></a></div>
            </div>
            <div class="rd-navbar-main-element">
              <div class="rd-navbar-nav-wrap">
                <!-- RD Navbar Share-->
                <div class="rd-navbar-share fl-bigmug-line-share27" data-rd-navbar-toggle=".rd-navbar-share-list">
                  <ul class="list-inline rd-navbar-share-list">
                    <li class="rd-navbar-share-list-item"><a class="icon fa fa-facebook" href="#"></a></li>
                    <li class="rd-navbar-share-list-item"><a class="icon fa fa-twitter" href="#"></a></li>
                    <li class="rd-navbar-share-list-item"><a class="icon fa fa-google-plus" href="#"></a></li>
                    <li class="rd-navbar-share-list-item"><a class="icon fa fa-instagram" href="#"></a></li>
                  </ul>
                </div>
                <ul class="rd-navbar-nav">
                  {% if user.is_authenticated %}
                    <li class="rd-nav-item">
                        <a class="rd-nav-link" aria-current="page" href="{% url 'dashboard' %}">
                            Dashboard
                        </a>
                    </li>

                    <li class="rd-nav-item dropdown">
                        <a class="rd-nav-link dropdown-toggle" href="{% url 'tags' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Tags
                        </a>
                        <ul class="rd-navbar-dropdown dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'cadastrar_tag' %}">Cadastrar tag</a></li>
                            <li><a class="dropdown-item" href="{% url 'tags' %}">Listar tags</a></li>
                            <li><a class="dropdown-item" href="{% url 'vincular_tag_pessoa' %}">Vincular tag</a></li>
                            <li><a class="dropdown-item" href="{% url 'desvincular_tag_pessoa' %}">Desvincular tag</a></li>
                        </ul>
                    </li>
                  

                    <li class="rd-nav-item dropdown">
                        <a class="rd-nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Pessoas
                        </a>
                        <ul class="rd-navbar-dropdown dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'pessoa_detalhes' %}">Procurar pessoa</a></li>
                            <li><a class="dropdown-item" href="{% url 'cadastrar_pessoa' %}">Cadastrar pessoa</a></li>
                            <li><a class="dropdown-item" href="{% url 'localizacao' %}">Localização</a></li>
                        </ul>
                    </li>
                  

                    <li class="rd-nav-item dropdown" >
                        <a class="rd-nav-link dropdown-toggle" href="{% url 'tags' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Objetos
                        </a>
                        <ul class="rd-navbar-dropdown dropdown-menu">
                          <li><a class="dropdown-item" href="#">Cadastrar Objeto</a></li>
                          <li><a class="dropdown-item" href="#">Listar objetos</a></li>
                        </ul>
                    </li>

                    <li class="rd-nav-item">
                        <a class="rd-nav-link" href="{% url 'leituras' %}">Leituras</a>
                    </li>

                    <li class="rd-nav-item">
                        <a class="rd-nav-link" href="{% url 'simula_leitura' %}">Simular leitura</a>
                    </li>

                    <li class="rd-nav-item">
                        <a class="rd-nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                  {% else %}
                    <li class="rd-nav-item active"><a class="rd-nav-link" href="#home">Home</a></li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="#services">Serviços</a></li>
                    {% comment %} <li class="rd-nav-item"><a class="rd-nav-link" href="#projects">Projects</a></li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="#team">Team</a></li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="#news">News</a></li> {% endcomment %}
                    <li class="rd-nav-item"><a class="rd-nav-link" href="#contacts">Contatos</a></li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="{% url "login" %}">Login</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>


</header>