{% load static %}
<header class="header">
    <div>
        <nav class="navbar navbar-expand-lg navbar-color fixed-top" >
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static 'global/img/LOGO.png' %}" width="30" height="30" class="d-inline-block align-top logo-menu" alt="">
                    T-Care
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">
                                    Dashboard
                                </a>
                            </li>

                            <li class="nav-item dropdown" >
                                <a class="nav-link dropdown-toggle" href="{% url 'tags' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Tags
                                </a>
                                <ul class="dropdown-menu" style="background-color: rgb(0, 90, 80);">
                                <li><a class="dropdown-item" href="{% url 'cadastrar_tag' %}">Cadastrar tag</a></li>
                                <li><a class="dropdown-item" href="{% url 'tags' %}">Listar tags</a></li>
                                <li><a class="dropdown-item" href="{% url 'vincular_tag_pessoa' %}">Vincular pessoa</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown" >
                                    <a class="nav-link dropdown-toggle" href="{% url 'tags' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Pessoas
                                    </a>
                                    <ul class="dropdown-menu" style="background-color: rgb(0, 90, 80);">
                                    <li><a class="dropdown-item" href="{% url 'pessoa_detalhes' %}">Procurar pessoa</a></li>
                                    <li><a class="dropdown-item" href="{% url 'cadastrar_pessoa' %}">Cadastrar pessoa</a></li>
                                    <!-- <li><a class="dropdown-item" href="{% url 'cadastrar_acompanhante' %}">Cadastrar acompanhante</a></li>
                                    <li><a class="dropdown-item" href="{% url 'cadastrar_funcionario' %}">Cadastrar funcionário</a></li>
                                    <li><a class="dropdown-item" href="{% url 'cadastrar_paciente' %}">Cadastrar paciente</a></li>
                                    <li><a class="dropdown-item" href="{% url 'cadastrar_paciente' %}">Cadastrar visitante</a></li> -->
                                    <li><a class="dropdown-item" href="{% url 'localizacao' %}">Localização</a></li>
                                    </ul>
                            </li>

                            <li class="nav-item dropdown" >
                                <a class="nav-link dropdown-toggle" href="{% url 'tags' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Objetos
                                </a>
                                <ul class="dropdown-menu" style="background-color: rgb(0, 90, 80);">
                                <li><a class="dropdown-item" href="#">Cadastrar Objeto</a></li>
                                <li><a class="dropdown-item" href="#">Listar objetos</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'leituras' %}">Leituras</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'simula_leitura' %}">Simular leitura</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                            </li>
                        
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}    
                    </ul>
                    
                    
                </div>
                
                </ul>
            </div>
            
        </nav>
    </div>
</header>