{% if page_obj %}
                    <div>
                        <nav aria-label="...">
                            <ul class="pagination d-flex justify-content-center">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?{{ request.GET.urlencode }}&page=1">&laquo; Primeira</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}">Anterior</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link">&laquo; Primeira</span>
                                    </li>
                                    <li class="page-item disabled">
                                        <span class="page-link">Anterior</span>
                                    </li>
                                {% endif %}
                        
                                <li class="page-item active">
                                    <span class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
                                </li>
                        
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">Próxima</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link">Próxima</span>
                                    </li>
                                    <li class="page-item disabled">
                                        <span class="page-link">Última &raquo;</span>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                {% endif %}